.toggle{
    height: 50px;
    width: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #000;
}

.toggle:before{
    content: 'X';
    text-align: center;
    position: absolute;
    top: 7px;
    text-align: center;
    left: 17px;
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 1.5rem;
    color: #fff;

}

.toggle:hover.toggle:before{
    transform: rotate(45deg);
}