*{
    margin:0;
    padding:0;
}

.container{
    background-color:#333;
    min-height: 25%;
  
    
}

ul{
    list-style: none;
    text-align: center;
  
}

ul li{
    display: inline-block;
   padding:20px;
   margin-left: 50px;
}


ul li:hover{
    border-bottom: 2px  solid #fff;
}


ul li a:active{
    border-bottom: 2px  solid #fff;
}