:root{
    --main-color: linear-gradient(45deg, rgb(24, 36, 77), rgb(154, 174, 211));
}


.container{
    background-image: var(--main-color);
    font-family: monospace;
}

.form-header{
    text-align: center;
    font-size: 2rem;
}

.form-header span{
    color: rgb(18, 103, 182);
}

.contactDetails{
    list-style: none;
    color: #fff;
}

.contactDetails i{
    padding-right: 1rem;
}


.signUp input{
    display: block;
    
}

.signUp--form input{
    height: 2rem;
}

.signUp--form input[placeholder]{
    font-family: monospace;
    padding-left: 1rem;
}

.signUp--form textarea[placeholder]{
    padding-left: 1.2rem;
    font-size: large;
}

.signUp--form button{
    height: 3rem;
    border: 0;
    border-top-left-radius: 15px;
    outline: none;
    text-transform: uppercase;
}


.signUp--form button:hover{
    background: rgb(13, 106, 228);
    font-size: 1.7rem;
}

.signUp--form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.signUp--form textarea, .signUp--form button{
    grid-column: span 2;
}

.wrapper h3{
    text-align: center;
    padding-top: 10px;
}


/* Large Screens */
@media (min-width:750px){
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
      
        margin-left: 50px;
       margin-right: 50px;
    }
}



