/* General style resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body{
    font-family: 'Satisfy', cursive;

}
/* Header styles */
.header{
    height: 70vh;

    background: url(./pexels-photo-270404.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;
    background-color: rgb(47, 47, 82);

    color: #fff;

    position: relative;
}

/* Navbar styles */
.nav{
    margin: 0 auto;
    padding-top: 70px;
    text-transform: uppercase;
}

.nav--list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav--list li:nth-child(1){
    margin-right: auto;
}

.nav--list li:nth-child(1) img{
    border-radius: 50%;
}


.nav--list li{
    padding-left: 50px;
}

.nav--list li:hover{
    color: green;
    cursor: pointer;
}

.header-title{
    text-align: center;
    font-size: 3.4em;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 30px;

}

.header--title{
  
    /* padding: 100px 250px 30px; */
    font-weight: lighter;  
}

section{
    height: 10px;
}
section span::after{
    content: '';
    display: inline-block;
    padding: 0px 10px;
    height: 2px;
    background-color: #000;
}