*{
    margin:0;
    padding:0;
    
}

.container{
    background-color: rgb(100, 50, 50);
}


.box{
    
    border: 2px solid rgb(113, 154, 231);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: calc(25% - 84px);
    margin-left: 20px;
    overflow: hidden;
}

.box h2{
    color:darkgreen;
    text-align:center;
    margin-bottom:20px;
    border-bottom: 2px solid lightblue;
}

.left{
    float: left;
}

.clear{
    clear:both;
}