/* General style resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */
body {
  background-color: #f1f0f0;
}

/* CSS VARIABLES */
:root {
  --font-color: rgb(55, 148, 255);
}

/* Navigation styles */
.nav {
  display: flex;
  margin: 20px;
}

.nav li:nth-child(6) {
  margin-right: auto;
  margin-left: auto;
}

.nav li {
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #000;
  transition: 0.1s;
}

nav a:hover {
  color: rgb(55, 55, 236);
}

/* Hero styles */

.hero {
  background-image: url(images/brown-wooden-center-table-584399.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

.hero-details h1 {
  margin-top: 5%;
  font-size: 4rem;
  color: rgb(50, 72, 170);
}

.hero-details p {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-details form {
  height: 70px;
  width: 650px;
  text-align: center;
}

.hero-details input {
  height: 70px;
  width: 650px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.hero-details input[placeholder] {
  padding-left: 20px;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(238, 236, 236);
}

.hero-details input::after {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
}

/* Section 1 styles */
.selling-point {
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selling-point p {
  font-size: 2rem;
}

.selling-point hr {
  width: 10%;
  color: #000;
  height: 5px;
  background-color: yellow;
  margin-top: 40px;
}

/* Section 2 styles : The cards */

.cards {
  display: grid;

  max-width: 95%;
  height: 90vh;
  margin: 100px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s;
}

.card:hover {
  transform: perspective(200px) translatez(10px);
}

.card h3 {
  order: 2;
}

.card img {
  order: 1;
}

.card p {
  order: 3;
  font-size: 1.2rem;
}

.card button {
  order: 4;
  padding: 10px 20px;
  background-color: #fff;
  color: rgb(60, 60, 175);
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
}

/* Section 3 styles: The dropdown main links */

.categories {
  height: 30vh;
  background-color: #fff;
}

.category-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  border-bottom: 1px solid rgb(201, 199, 199);
  margin-left: 10px;
  margin-right: 10px;

  list-style-type: none;
}

.category-links li{
    padding: 10px 18px;
    font-weight: bolder;
    transition: .2s;

    border: 2px solid #000;
    border-radius: 5px;   
}

.category-links a {
  text-decoration: none;
  color: rgb(58, 56, 56);
  transition: .1s;
}

.category-links a:hover{
    border-bottom: 1px solid #000;
}

.categories hr {
  margin: 60px;
  background-color: #ccc;
}

/* Footer head styles */
.footer-head {
  background-color: #fff;
}

.footer-head small {
  display: block;
  text-align: center;
  color: darkblue;
  font-size: 0.9rem;
  padding:30px;
}

.footer-head hr{
    margin: 60px;
    background-color: #ccc;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  padding: 20px;
  font-size: 0.9rem;
}

footer{
    height: 40vh;
    background: url(images/apart.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer small{
    display: block;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

